
.login{
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20vh;
}

.homeAuth:hover{
    color: blue;
    cursor: pointer;
}

li {
    list-style-type: none;
}